<html lang="en">  
    <head>  
        <title>Index Page</title>  
    </head>  
    <body>  
        <form action="save" method="post">  
            <table>  
                <tr>  
                    <td><label for="user-name">User Name</label></td>  
                    <td><input type="text" name="name"></input></td>  
                </tr>  
                <tr>  
                    <td><label for="emp-id">Emp Id</label></td>  
                    <td><input type="text" name="emp_id"></input></td>  
                </tr> 
                <tr>  
                    <td><label for="role">Role</label></td>  
                    <td><input type="text" name="role"></input></td>  
                </tr>
                 <tr>  
                    <td><label for="wage">Wage</label></td>  
                    <td><input type="text" name="wage"></input></td>  
                </tr>                           
                <tr>  
                    <td><label for="Emp_Group">Emp Group</label></td>  
                    <td><input type="text" name="emp_group"></input></td>  
                </tr>                                         
                <tr>  
                    <td></td>  
                    <td><input type="submit" value="Submit"></input></td>  
                </tr>  
            </table>  
        </form>  
    </body>  
</html>  